@font-face {
    src: url("../fonts/Poppins-ExtraLight.ttf");
    font-family: Poppins-ExtraLight;
}

@font-face {
    src: url("../fonts/Poppins-Light.ttf");
    font-family: Poppins-Light;
}

@font-face {
    src: url("../fonts/Poppins-Medium.ttf");
    font-family: Poppins-Medium;
}

@font-face {
    src: url("../fonts/Poppins-Regular.ttf");
    font-family: Poppins-Regular;
}

@font-face {
    src: url("../fonts/Bellamy-Signature.ttf");
    font-family: Bellamy-Signature;
}