$color-black: #000;
$color-white: #fff;
$color-brown: #8A5137;
@mixin container {
    max-width: 1320px;
    margin: 0 auto;
}

@mixin display-flex {
    display: flex;
    align-items: center;
}

@mixin display-flex-btw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}